// Colors
$white: #fff;
$light-cyan: #CBF3F0;
$tiffany-blue: #2EC4B6;
$mellow-apricot: #FF9F1C;
$orange-peel: #FF9F1C;
$cool-grey: #CED4DA;

// Fonts
$lora: 'Lora', sans;
$cormorant: 'Cormorant', serif;
